/* ----------footer------------*/
footer {
  background-color: #d9d9d9;
  max-width: 100%;
  margin: 0;

  ul {
    list-style-type: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
/* ----------footer responsive------------*/
  @media (max-width: 650px) {
    footer {
      padding: 20px;
    }
  }
}
