/* Code imbriqué (nested) */
header {
  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      justify-content: center;

      /* Les svg pour la connexion/déconnexion */
      li.login-out-link {
        svg {
          color: black;
          font-size: 1.2em;
        }

        &:hover {
          svg {
            color: $primary;
          }
        }
      }

      a {
        @include button($fc: rgb(22, 52, 52));


      }
    }
  }
  /**** NAVBAR ****/
nav {
  background: skyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: calc(0.5rem + 1.5vw);
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
#icons {
  cursor: pointer;
  display: none;
}

@media (max-width: 650px) {
  #icons {
    display: block;
  }
  #icons:before {
    content: "\2630";
  }
  .active #icons:before {
    content: "\2715";
  }
  nav ul {
    position: fixed;
    left: -100%;
    top: 5%;
    flex-direction: column;
    background: skyblue;
    width: 100%;
    text-align: center;
    transition: 0.25s;
  }
  nav li {
    padding: 3px 0;
  }
  nav li:hover {
    background: rgb(157, 217, 240);
  }
  nav.active ul {
    left: 0;
  }
}
}