/* Code imbriqué (nested) */

header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: calc(0.5rem + 1.5vw);

    ul {
      display: flex;
      justify-content: space-between;
      width: 60%;
      list-style: none;
      gap: 20px;

      /* Les svg pour la connexion/déconnexion */
      li.login-out-link {
        svg {
          color: black;
          font-size: 1.2em;
        }

        &:hover {
          svg {
            color: $primary;
          }
        }
      }

      /* -----------buton link----------- */
      a {
        @include button($fc: rgb(22, 52, 52));
      }

      /* -----------burger changement au clic----------- */
      #icons {
        cursor: pointer;
        display: none;
      }
      /* -----------burger responsive----------- */
      @media (max-width: 650px) {
        #icons {
          display: block;
        }
        #icons:before {
          content: "\2630";
        }
        .active #icons:before {
          content: "\2715";
        }
        nav ul {
          position: fixed;
          left: -100%;
          top: 5%;
          flex-direction: column;
          background: rgb(125, 129, 131);
          width: 100%;
          text-align: center;
          transition: 0.25s;
        }
        nav li {
          padding: 3px 0;
        }
        nav li:hover {
          background: rgb(157, 217, 240);
        }
        nav.active ul {
          left: 0;
        }

        /* -------div black&white login------*/
        .bwl ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          gap: 0.5em;
          li {
            background-color: rgb(175, 175, 175);
            padding: 0.2em;
            border-radius: 1em;

            a {
              text-decoration: none;
              color: inherit;
            }
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}
